* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* I changed the class name from .header to header to match the HTML and follow the convention of using 
the element name as the selector */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Did the same thing here but also used a descendant selector to select the h1 element inside the header element did the same
to the nav element */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* here I used a descendant selector to select the .seo class inside the h1 element inside the header element */
header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* here I used a descendant selector to select the ul element inside the nav element inside the header element same 
thing for the li element */
header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* here I defined the a element inside the header element */
a {
    color: #ffffff;
    text-decoration: none;
}
/* here I defined the p element */
p {
    font-size: 16px;
}
/* Didn't change anything here */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Needed this two classes to float the images to the left and right */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* I needed to leave the id selectors here to be more specific and override the color of the h3 elements inside the benefits element */
#benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

#benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

#benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Here I eliminated the class name and used the element name as the selector to simplify the code and follow the 
structure of the HTML, also I used the element name as the selector to select the h3 element inside the benefits element */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* I needed to leave the id selectors here to be more specific and override margin-bottom and padding */
#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

#social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* I eliminated the class name and used the element name as the selector to simplify the code and follow the structure 
of the HTML, also I used the element name as the selector to select the h2 header inside the content element and the 
image element inside the content element */
.content img {
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* I eliminate the footer class name and used the element name as the selector to simplify the code and follow the structure */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* I changed the semantic elements to match the HTML and follow the convention of using the element name as the selector */
footer h4 {
    font-size: 20px;
}
